.container {
margin-top: 30px;;
width: 1200px;
height: 500px;
margin-right: 2px;
}
.mid{
    height: 200px;
    background-color: white;
    border-style: groove;
    line-height: 2;
    width: 1100px;
}
.buttom {
    margin-top: 10px;
    height: 300px;
    line-height: 2;
}

.side{
    margin-top: 30px;
    margin-left: 10px;;
    float: left;
    width: 220px;
    height: 500px;
    background-color: #E6E6FA;
    border-style: groove;
    position: absolute;
}
.nav {
    color: honeydew;
}
.nav-bar{
    color: ivory;
    height: 50px;
    text-align: center;
    display: inline-block;  
}
#btn {
    background-color:  #1E90FF;
}
.search{
    margin-top: 40px;
}
.cardOne{
    width: 200px;
    float:left;
    height:200px;
    margin:10px;
}
.cardTwo{
    width: 200px;
    float:left;
    height:200px;
    margin:10px;
}
.cardThree{
    width: 200px;
    float:left;
    height:200px;
    margin:10px;
}
.cardFour{
    width: 200px;
    float:left;
    height:200px;
    margin:10px;
}
.cards{
    margin-top: 10px;
    background-color: #1E90FF;
    color: white;
    border-radius: 25px;
    border-style: groove;
    padding-top:10px
}
div.h5 {
    margin-top: 10px;
}